<Layout x-small={3} small={4} style={{minHeight:50}}>
  <div style={{background:'#eee', padding:'1em'}}>A</div>
  <div style={{background:'#ccc', padding:'1em'}}>B</div>
  <div style={{background:'#eee', padding:'1em'}}>C</div>
</Layout>
